body {
    font-family: Arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero {
    background-image: url(../Imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px #333;
}

.hero-content p {
    background-color: rgba(0, 0, 0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.hero nav li {
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin: 20px 25px 0 0;
}

.hero nav ul {
    text-align: right;
}

.hero nav a {
    background: rgba(0, 0, 0, 0.096);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card {
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1,
.card-2 {
    margin-right: 2%;
}

.card p {
    background-color: rgb(53, 52, 52);
    color: white;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card img {
    width: 100%;
    display: block;
}

.content-section h2 {
    border-color: rgb(161, 161, 161);
    border-bottom-color: rgb(87, 87, 87);
    border-bottom-style: solid;
    background-color: #ccc;
    padding: 10px;
}

footer {
    background-color: rgb(61, 61, 61);
    text-align: center;
    border-color: black;
    padding: 5px;
}

footer p {
    color: white;
    text-shadow: 3px 3px 5p rgb(0, 0, 0);
}